
@import "./bases/variables.scss";
@import "./bases/colors.scss";
@import "./bases/layout.scss";
@import "./bases/typography.scss";
@import "./components/buttons.scss";
@import "./parts/header.scss";
@import "./parts/footer.scss";
@import "./parts/carousel.scss";
@import "./parts/slogan.scss";
@import "./parts/services.scss";
@import "./parts/contact.scss";
@import "./parts/actualities.scss";
@import "./parts/page/title.scss";
@import "./parts/page/body.scss";
@import "./components/form.scss";

@import "../bootstrap/bootstrap.css";


