
 // troubleshooting section
 .troubleshooting {
    background-image: url('./img/depannage-plombier-outil.jpg');
}

// replacement section
.replacement {
    background-image: url('./img/plombier-depannage-chaudiere.jpg');
}

// maitenance section
.maintenance {
    background-image: url('./img/contrat-entretien-chauffage-chaudiere-climatisation.jpg');
    opacity: 0.8;
}

// single section
.actualities {
    background-image: url('../../../img/contrat-entretien-chauffage-chaudiere-climatisation.jpg');
}

.section-title {
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    @media screen and (min-width: 500px) {
        height: 300px;
        h1 {
            font-size: 2rem;
        }
    }
    @media screen and (min-width: 800px) {
        height: 400px;
        h1 {
            font-size: 3rem;
            text-transform: uppercase;
        }
    }
    @media screen and (max-width: 340px) {
        h1 {
            font-size: 1.8rem;
        }
    }
}