.section-title {
    background-size: cover!important;
    background-repeat: no-repeat!important;
    height: 300px;
    h3 {
        font-size: 1.2rem;
    }
    @media screen and (min-width: 500px) {
        height: 400px;
    }
    @media screen and (min-width: 800px) {
        h1 {
            font-size: 3rem;
            text-transform: uppercase;
        }
    }
    @media screen and (max-width: 340px) {
        h1 {
            font-size: 1.8rem;
        }
    }
}