body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    li {
        list-style-type: none;
    }
    @media screen and (min-width: 1280px)
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .bloc-page {
            box-shadow: 0 10px 35px 0 rgb(0 0 0 / 18%);
            width: 1280px;
        }
    }
}

.titles {
    margin-top: 2rem;
}
.titles {
    margin-bottom: 2rem;
}

// animation
.reveal {
    opacity: 0;
    transform: translateY(30px);
  }
  
  .reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 2s cubic-bezier(0.5, 0, 0, 1);
  }

  .slide-in {
   
      animation-duration: 3s;
      animation-name: slidein;
      font-size: 2rem;
    }     
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%;
      }      
      to {
        margin-left: 0%;
        width: 100%;
      }
    }

    .slide-in-last {
   
        animation-duration: 4s;
        animation-name: slidein;
      }     
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }