
// TYPOS
// #####
p, a, li {
    font-weight: 500;
}
h1, h2, h3, strong {
    font-weight: 500;
}

// CLASSE TEXT EN GRAS
// ##################
.text-bold{
    font-weight: 650;
}

// CLASSES TAILLE TITRE ET SOUS TITRES
// ###################################
.titles {
    font-size: 2rem;
    font-weight: 700;
}
.subtitles {
    font-size: 1.2rem;
}


