.text-bold {
    font-weight: bold;
}

.btn, p, a, li {
    font-size: 0.8rem;
    font-weight: 600;
}
h1, h2, h3, strong {
    font-weight: 600;
}
.titles {
    font-size: 2rem;
}
.subtitles {
    font-size: 1.2rem;
}


