.section-actualite {
    background-color: $color-grey-light;
    img {
        border-radius: 3px;
    }
    .container {
        .btn {
            padding: 0.8rem;
        }
        max-width: 700px;
        h2 {
            font-size: 2.5rem;
            background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
        }
    }

}