.section-carousel {
    .carousel {
        height: 250px;
        .carousel-indicators {
            margin-bottom: 0;
        }
        .carousel-indicators [data-bs-target] {
            width: 7px;
            height: 7px;
            border-radius: 100%;
        }
        .carousel-item {
            img {
                height: 250px;
            }
            h2 {
                font-weight:700;
                font-size: 1.3rem;
            }
            a, p {
                font-weight: 600;
            }
            .btn {
                margin-bottom: 1rem;
            }

            .carousel-caption {
                padding: 0;
                left: 0;
                width: 100%;
            }
        }

        @media screen and (min-width: 390px) { 
            .carousel-item {
                h2 {
                    font-size: 1.7rem;
                }
            }
        }
        @media screen and (min-width: 690px) {
            height: 300px;
            .carousel-item {
                img {
                    height: 300px;
                }
                h2 {
                    font-size: 2.2rem;
                }
                p, h2 {
                    margin-bottom: 2rem;
                }
                p {
                    font-size: 1.5rem;
                }
                .btn {
                    margin-bottom: 1.5rem;
                }
            }
        }
        @media screen and (min-width: 980px) {
            height: 400px;
            .carousel-indicators {
                margin-bottom: 1rem;
            }
            .carousel-item {
                img {
                    height: 400px;
                }
                .btn {
                    margin-bottom: 3rem;
                }
                h2 {
                    font-size: 3rem;
                }
            }
        }

        @media screen and (min-width: 1100px) {
            height: 500px;
            .carousel-item {
                img {
                    height: 500px;
                }
                .btn {
                    margin-bottom: 5rem;
                }
                h2 {
                    font-size: 3.5rem;
                }
                P {
                    font-size: 1.7rem;
                }
            }
        }
    }

}