header {

    position: sticky;
    z-index: 2;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    nav {
        .navbar-toggler {
            padding: 0;
        }
        padding-top: 0!important;
        padding-bottom: 0!important;
        button:focus {
            box-shadow: none!important;
        }
        p {
            img {
                margin: 0 0.5rem;
            }
        } 
        .navbar-nav .active {
            background-color: $color-grey-light;
        }
}

// min 400px
@media screen and (min-width: 400px){

    nav {
        padding: 0 1rem;
        p {
            font-size: large;
            img {
                width: 20px;
            }
        }
    }
}

// min 990px
@media screen and (min-width: 990px){
    
    nav {
        p {
            padding: 0 40px;
            span {
                font-size: 0.9rem;
            }
        }
        #navbarNav {
            justify-content: flex-end;
            .menu-navbar-header-container {
                width: 100%;
            }
            ul {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

}