.section-services {
// bloc card
    .container-fluid {
    // cards
        .service-card {
            margin-bottom: 5rem;
            width: 320px;
            background-color: white;
            box-shadow: $box-shadow;
            border-radius: 3px;
            img {
                border-radius: 3px 0 0 3px;
            }
            .card-content {
                h5 {
                    font-weight: 600;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                ul {
                    padding: 1rem;
                    li, a {
                        font-size: 0.8rem;
                    }
                    span {
                        width: 3px;
                        margin-right: 0.2rem;
                    }
                }
                .btn {
                    margin-bottom: 1.2rem;
                }
            }
         }
    }

// media queries
// ##############
@media screen and (min-width: 600px) {
    .service-card:hover {
        transform: scale(1.1);
    }
}
@media screen and (min-width: 900px) {

    .service-card {
        
        flex-direction: row!important;
        width: 650px!important;
        padding-bottom: 0!important;
        .card-content {
            width: 400px;
            .btn {
                margin-bottom: 2rem!important;
            }

        }
    }

}
    
}