.section-actualite {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../img/prime-etat-renovation-dossier-demande.jpg");
    background-size: cover;
    h3 {
        font-size: 1.2rem;
    }
}