header{
    position: sticky;
    z-index: 1;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    nav {
        button:focus {
            box-shadow: none!important;
        }
        p {
            img {
                margin: 0 0.5rem;
            }
        }
        .navbar-collapse {
            ul {
                li {
                    padding-left: 1rem;
                    .secondary-text-color {
                        color: $color-secondary!important;
                    }
                    .primary-text-color {
                        color: $color-primary!important;
                    }
                }
            }
        }
    }

@media screen and (min-width: 400px){

    nav {
        padding: 0 1rem;
        p {
            font-size: large;
            img {
                width: 20px;
            }
        }
    }

}

@media screen and (min-width: 990px){
    
    nav {
        p {
            padding-left: 100px;
            span {
                font-size: 0.9rem;
            }
        }
        #navbarNav {
            justify-content: flex-end;
        }
    }
}

}